language: php
php:
  - 5.5
  - 5.6
install:
  - composer self-update
  - composer update --dev
addons:
  code_climate:
    repo_token: 533b530dfbce5d0014b00b6e21c14a5c14c34aaab5b4b218b61daa248125c630
after_script:
  - vendor/bin/test-reporter